flask
flask-cors
openai-whisper
ffmpeg-python
numpy
torch

pipeline {
    agent any
    tools {
        maven 'Maven'
    }
    stages {
        stage('Checkout') {
            steps {
                git branch: 'main', url: 'https://github.com/Manimaran-M3/MeetScribe2.git'
            }
        }
        stage('Build') {
            steps {
                bat 'mvn -f speech-transcription-backend/pom.xml clean package -DskipTests'
            }
        }
        stage('Test') {
            steps {
                bat 'mvn -f speech-transcription-backend/pom.xml test -DskipTests'
            }
        }
        stage('Deploy') {
            steps {
                echo 'Deploying application...'
            }
        }
    }
}



pipeline {
    agent any
    tools {
        maven 'Maven'
    }
    stages {
        stage('Checkout') {
            steps {
                git branch: 'main', url: 'https://github.com/KabilanTM/Maven_test.git'
            }
        }
        stage('Build') {
            steps {
                bat 'mvn -f demo/pom.xml clean package -DskipTests'
            }
        }
        stage('Test') {
            steps {
                bat 'mvn -f demo/pom.xml test -DskipTests'
            }
        }
        stage('Deploy') {
            steps {
                echo 'Deploying application...'
            }
        }
    }
}






$ sudo apt update
$ sudo apt install software-properties-common
$ sudo add-apt-repository --yes --update ppa:ansible/ansible
$ sudo apt install ansible

su
sudo usermod -aG sudo “username”
su “username”

ansible - - version

• sudo nano /etc/default/locale
• Update the encoding to UTF-8
LANG="en_US.UTF-8"
LC_CTYPE="en.US.UTF-8"

ssh-keygen -t rsa -C "devops default"
ls -la .ssh
cat .ssh/id_rsa.pub
cat .ssh/id_rsa

ssh-copy-id -i ~/.ssh/id_rsa.pub "ipaddress"

ssh -i ~/.ssh/"keyname" "ipaddress"

ssh "Ip address"

sudo nano inventory
[servers]
192.168.1.219
192.168.1.218

ansible all --key-file ~/.ssh/id_rsa -i inventory -m ping
chmod 600 ~/.ssh

# 9. Create playbook
nano playbook.yaml

# Inside the playbook:
- name: Echo
  hosts: servers
  connection: local
  tasks:
    - name: task created
      debug:
        msg: "hello buddy"


ansible-playbook -i inventory playbook.yml
